
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Forgot password</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
    <link href="~/Content/auth-light.css" rel="stylesheet" />
</head>
<body class="bg-silver-300">

    @using (Html.BeginForm())
    {


        <div class="content">
            <div class="brand">
                <a class="link" href="#"></a>
            </div>
            <form id="forgot-form" action="javascript:;" method="post">



                <h3 class="m-t-10 m-b-10">Forgot password</h3>
                <p class="m-b-20">Enter your user name below.</p>
                <div class="form-group">
                    @Html.TextBox("UserName", "", new { @class = "form-control" })
                </div>
                <p class="m-b-20">Enter your email address below.</p>
                <div class="form-group">
                    @Html.TextBox("EmailID", "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>
    }
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <!-- PAGE LEVEL PLUGINS -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- CORE SCRIPTS-->
    <script src="~/Scripts/app.js"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script type="text/javascript">
        $(function () {
            $('#forgot-form').validate({
                errorClass: "help-block",
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },
                highlight: function (e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function (e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            });
        });

    </script>
    <script>
        $(function () {
            var successMessage = '@TempData["Error"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });
    </script>
    <script>
        $(function () {
            var successMessage = '@TempData["Success"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
</body>
</html>
