
@{
    ViewBag.Title = "CreatePO";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            Create Purchase Order
        </li>
    </ol>
</nav>
<div class="ibox">
    <div class="ibox-body">

        <div class="row ">
           
            <div class="col-md-4">
                Vendor<br />
              
            </div>
            <div class="col-md-4">
                 Delivery Date<br />
                <input type="text" class="form-control" id="dateRequested" />
                <label id="lblreqdate" style="color:red;"></label>
            </div>
        </div>



    </div>





</div>

