@model Serene_AMS.ViewModels.ProcureVM
<form name="formpritemslist">


    <div class="modal-content responsive" id="pritemsmodal">
        <div class="modal-header">
            <h4 class="modal-title">View Purchase Request Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body" style="overflow: auto">
            @Html.EditorFor(model => model.DocNo, new { htmlAttributes = new { @class = "form-control", @id = "getdocnoofpr", @type = "hidden" } })
            <table id="tblpritemsvendor" class="table table-striped table-hover responsive table-responsive">
                <thead>
                    <tr style="background-color:#0094ff; color:#ecf0f1">

                        <th>Document No</th>
                        <th>Items</th>
                        <th>Quantity</th>
                        <th>Vendor</th>
                        <th>Requested Date</th>
                    </tr>
                </thead>
                <tbody id="getitemsofpr"></tbody>
                <tfoot>
                    <tr>
                        <th>Document No</th>
                        <th>Items</th>
                        <th>Quantity</th>
                        <th>Vendor</th>
                        <th>Requested Date</th>
                    </tr>
                </tfoot>


            </table>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>

</form>

