@model Serene_AMS.Models.tblApplicant

@{
    ViewBag.Title = "ViewCandidate";
}
<div class="page-heading">
    <h1 class="page-title">View Candidate</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Views/Recruitment/ViewCandidate.cshtml"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">View Candidate</li>
    </ol>
</div>
<div class="ibox">

    <div class="ibox-body">
        
       
                <table id="tablec" class="table table-striped table-hover responsive table-responsive">
                    <thead>
                        <tr style="background-color:#0094ff; color:#ecf0f1">
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Submitted on</th>
                            <th>CV</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Submitted on</th>
                            <th>CV</th>
                        </tr>
                    </tfoot>


                </table>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="modal" id="Modalmarks" tabindex="-1" data-backdrop="false">
                                <div class="modal-dialog modal-sm">
                                    @Html.Partial("Marksupload")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
@section scripts{


    <script>
        $(function () {
            var successMessage = '@TempData["UpdateMessage3"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>

    <script type="text/javascript">
        var Popup, dataTable2;
        $(function () {

            dataTable2 = $('#tablec').DataTable({
                pageLength: 10,
                "ajax": {
                    "url": '/recruitment/GetCandidateList',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "ApplicantName", "authowidth": false },
                    { "data": "Phone", "authowidth": false },
                    { "data": "Email", "authowidth": false },
                    {
                        "data": "Dob", "render": function (mydata) {
                            var date = new Date(parseInt(mydata.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        },
                    },
                    { "data": "Gender", "authowidth": false },
                    {
                        "data": "Status", "render": function (data) {
                            if (data == "Pending") {
                                return "<label class='badge-primary'>" + data + "</label>"

                            }
                            else if (data == "Rejected") {
                                return "<label class='badge-danger'>" + data + "</label>"

                            }
                            else {
                                return "<label class='badge-success'>" + data + "</label>"

                            }
                        },
                    },
                    {
                        "data": "Submittedon", "render": function (data) {
                            var date = new Date(parseInt(data.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getFullYear() + "/" + month + "/" + date.getDate();
                        },

                    },
                    {
                        "data": "CV", "render": function (data) {
                            return '<a href="/CV/' + data + '">View</a>'
                        },
                    },
                    {
                        "data": "ApplicationId", "render": function (data, type, full) {
                            return "<button type='button' id='btnmodal' class='btn btn-primary btn-bitbucket' onclick=getCandidate('" + data + "')>Upload Marks</button>"

                        },
                        "orderable": false,
                        "width": "150px"
                    }


                ]


            });

           
        });

       


        function getCandidate(id) {

              $.get("/Recruitment/GetCandidates", { id: id }, function (res) {

                  $("#candidatemodal").html(res);                 
                  $("#Modalmarks").modal('show');
                 

            })

            }
         
             function Upload() {
                var modal = $("#Modalmarks");
                var form = $('form[name="marksform"]');

                form.validate();
                if (!form.valid()) {
                    return;
                } else {
                    var data = form.serialize();
                    $.post("/Recruitment/UploadMarks", data, function (res) {
                        if (res) {
                            modal.modal('hide');

                            
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"

                            });

                        }

                    })
                }
            }
         
    </script>
    }