
@{
    ViewBag.Title = "ViewMarks";
}

<div class="page-heading">
    <h1 class="page-title">View Marks</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Views/Recruitment/ViewMarks.cshtml"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">View Marks</li>
    </ol>
</div>
<div class="ibox">

    <div class="ibox-body">

        <div class="form-group row">
            <label>From Date</label>
            <div class="input-group date">
                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                <input id="frmdate1" class="datepicker" />
            </div>
            <br />
            <label>To Date</label>
            <div class="input-group date">
                <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                <input id="todate1" class="datepicker" />
            </div>
        </div>
        <label style="color:red;" id="lblerror1"></label>
        <br />
        <button type="button" id="btnfilter1" class="btn btn-primary">Filter</button>
        <form name="form1">


            <input type="hidden" id="txtval1" />
            <input type="hidden" id="txtval2" />
        </form>
            <table id="tablem" class="table table-striped table-hover responsive table-responsive">

                <thead>
                    <tr style="background-color:#0094ff; color:#ecf0f1">
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Marks</th>
                        <th>Application Submission date</th>
                        <th>Status</th>
                        <th>Select</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Marks</th>
                        <th>Application Submission date</th>
                        <th>Status</th>
                    </tr>
                </tfoot>


            </table>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="modal" id="Modalconfirm" tabindex="-1" data-backdrop="false">
                            <div class="modal-dialog modal-sm">
                                @Html.Partial("ConfirmPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       

    </div>





    </div>
            
      

@section scripts{
<script>
        $(function () {
            var successMessage = '@TempData["UpdateMessage100"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
</script>
<script type="text/javascript">
    var statusvalue =
        [
            "Select",
            "Called for Interview"
            
        ];
    $(function () {

        dataTable2 = $('#tablem').DataTable({
            pageLength: 10,
            "ajax": {
                "url": '/recruitment/GetMarksList',
                "type": "get",
                "datatype": "json"
            },
            "columns": [

                { "data": "ApplicantName", "authowidth": false },
                { "data": "Phone", "authowidth": false },
                { "data": "Email", "authowidth": false },
                { "data": "Gender", "authowidth": false },
                { "data": "Marks", "authowidth": false },
                {
                    "data": "Submittedon", "render": function (data) {
                        var date = new Date(parseInt(data.substr(6)));
                        var month = date.getMonth() + 1;
                        return date.getFullYear() + "/" + month + "/" + date.getDate();
                    },
                },
                {
                    "data": "TestStatus", "render": function (data) {
                        if (data == "Pending") {
                            return "<label class='badge-primary'>" + data + "</label>"

                        }
                        else if (data == "Fail") {
                            return "<label class='badge-danger'>" + data + "</label>"

                        }
                        else {
                            return "<label class='badge-success'>" + data + "</label>"

                        }
                    },
                },

                {
                    "data": "ApplicationId",
                    "render": function (d, t, r) {
                        var $select = $("<select id='ddlId" + d+"' onChange='javascript: getvalue(this);'></select>", {
                            "id": r[6] + "start",
                            "value": d
                        });
                        $.each(statusvalue, function (k, v) {
                            var $option = $("<option></option>", {
                                "text": v,
                                "value": d
                            });
                            if (d === v) {
                                $option.attr("selected", "selected")
                            }
                            $select.append($option);
                        });
                        return $select.prop("outerHTML");
                    },
                    "orderable": false,
                    "width": "150px"

                },

                {
                    "data": "ApplicationId", "render": function (data, type) {
                        return "<button class='btn btn-primary' id='btnsub' onclick=poststatus('" + data+"') > Submit</button> "

                    },
                }
            ]

          
        });
        
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = $('#frmdate1').datepicker("getDate");
                var max = $('#todate1').datepicker("getDate");
                var SubmittedDate = new Date(data[5]);
                if (min == null && max == null) { return true; }
                if (min == null && SubmittedDate <= max) { return true; }
                if (max == null && SubmittedDate >= min) { return true; }
                if (SubmittedDate <= max && SubmittedDate >= min) { return true; }
                return false;
            }
        );


        $("#frmdate1").datepicker({ changeMonth: true, changeYear: true });
        $("#todate1").datepicker({ changeMonth: true, changeYear: true });

        var table1 = $('#tablem').DataTable();
        $("#btnfilter1").on('click', function () {
            var frm = new Date($('#frmdate1').val());
            var to = new Date($('#todate1').val());
            if (frm > to) {
                $("#lblerror1").html("From Date should not be greater than To Date");

            }
            else if (frm = to) {
                $("#lblerror1").html("");
                table1.draw();
            }
            else {
                $("#lblerror1").html("");
                table1.draw();

            }
        });
        $("#btnsub tablem").on('click', function () {
           
        });

    });

    function getvalue(sel) {

       
        var a = $("#txtval1").val(sel.value);
        var b = $('#ddlId'+sel.value+' option:selected').text();
            $("#txtval2").val(b);
     
       
    }
    function poststatus(id) {
        $.get("/Recruitment/GetIdonConfirm", { id: id }, function (res) {

            var ddlvalue = $("#txtval1").val();
            var ddltext = $("#txtval2").val();

            if (ddltext == "" && ddlvalue == "") {
                $("#lblerror1").html("Please select option from Dropdown to Submit");
            }         
                   
            else if (ddltext != "Select" && id != ddlvalue) {
                $("#lblerror1").html("Please select option from Dropdown to Submit");

            } 
            else if (ddltext == "Select" && id == ddlvalue) {
                   $("#lblerror1").html("Please select option from Dropdown to Submit");

            }
            else if (ddltext == "Select" && id != ddlvalue) {
                $("#lblerror1").html("");
                $("#confirmmodal").html(res);
                var minDate = new Date();
                $("#dateInterview").datepicker({ showAnim: 'drop', changeMonth: true, changeYear: false, minDate: minDate, dateFormat: "dd/MM/yyyy" });
                $("#Modalconfirm").modal('show');
            }
            else if (ddltext != "Select" && id == ddlvalue )
            {

                $("#lblerror1").html("");
                $("#confirmmodal").html(res);
                var minDate = new Date();
                $("#dateInterview").datepicker({ showAnim: 'drop', changeMonth: true, changeYear: false, minDate: minDate });
                $("#Modalconfirm").modal('show');

            }
           
        })

    }
    function StatusUpdate() {
        var form1 = $('form[name="form2"]');
        form1.validate();
        if (!form1.valid()) {
            return;
        } else {
            var data = form1.serialize();
            $.ajax({
                url: "/Recruitment/PostStatus",
                type: "Post",
                data: data,
                success: function (data) {
                    if (data.success) {

                        $("#tablem").DataTable.ajax.reload();

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })


                    }
                }

            });

        }
    }
    
</script>
    
}