
@{
   ViewBag.Title = "View Applications";
}

<div class="ibox">

    <div class="ibox-body">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#pill-1-1" data-toggle="tab">View Applications</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="pill-1-1">
                <div class="form-group row">
                    <label>From Date</label>
                    <div class="input-group date">
                        <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                        <input id="frmdate" class="datepicker" />
                    </div>           
                    <br />                
                        <label>To Date</label>
                        <div class="input-group date">
                            <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                            <input id="todate" class="datepicker" />
                       </div>
                    </div>
                </div>
                      
            <table id="applicant" class="table table-striped table-hover responsive table-responsive">
                            <thead>
                                <tr style="background-color:#0094ff; color:#ecf0f1">
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Date of Birth</th>
                                    <th>Gender</th>
                                    <th>Status</th>
                                    <th>Submitted on</th>
                                    <th>CV</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Date of Birth</th>
                                    <th>Gender</th>
                                    <th>Status</th>
                                    <th>Submitted on</th>
                                    <th>CV</th>
                                </tr>
                            </tfoot>


                        </table>
                    </div>
        </div>
    </div>


@section scripts{
        
     

    <script type="text/javascript">
        var Popup, dataTable1;
        $(function () {
           
            dataTable1 = $('#applicant').DataTable({
                pageLength: 10,
                "ajax": {
                    "url": '/recruitment/GetApplicantList',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "ApplicantName", "authowidth": false },
                    { "data": "Phone", "authowidth": false },
                    { "data": "Email", "authowidth": false },
                    {
                        "data": "Dob", "render": function (mydata) {
                            var date = new Date(parseInt(mydata.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        },
                    },
                    { "data": "Gender", "authowidth": false },
                    { "data": "Status", "authowidth": false },
                    {
                        "data": "Submittedon","render": function (data) {
                            var date = new Date(parseInt(data.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getFullYear() + "/" + month + "/" + date.getDate();
                        },
                                              
                    },
                    {
                        "data": "CV", "render": function (data) {
                            return '<a href="/CV/'+ data +'">View</a>'
                        },
                    }
                    

                ],
              

            });
              


            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = $('#frmdate').datepicker("getDate");
                    var max = $('#todate').datepicker("getDate");
                    var SubmittedDate = new Date(data[6]);
                    if (min == null && max == null) { return true; }
                    if (min == null && SubmittedDate <= max) { return true; }
                    if (max == null && SubmittedDate >= min) { return true; }
                    if (SubmittedDate <= max && SubmittedDate >= min) { return true; }
                    return false;
                }
            );


            $("#frmdate").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            $("#todate").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            var table = $('#applicant').DataTable();

            // Event listener to the two range filtering inputs to redraw on input
            $('#frmdate, #todate').change(function () {
                table.draw();
            });

        });
       </script>

}